<div class='container'>
  <div class="menu" {{action "naviToggle"}}>
    <p>
      <strong>//</strong> menu
    </p>
  </div>
  <div class="body">
    <div class="links">
      {{#link-to 'index'}}
        <div class='link' {{action "naviToggle"}}>main</div>
      {{/link-to}}
      {{#link-to 'about' }}
        <div class='link' {{action "naviToggle"}}>about</div>
      {{/link-to}}
      {{#link-to 'contact'}}
        <div class='link' {{action "naviToggle"}}>contact</div>
      {{/link-to}}
        <a href='https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=cmwebdevs%40gmail%2ecom&lc=US&item_name=MyLift%20Fitness%20Programming&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted' target="_blank"><div class='link'>donate</div></a>
    </div>
    {{outlet}}
  </div>
</div>
