<div class='container'>
  <div class="menu" {{action "naviToggle"}}>
    <p>
      <strong>//</strong> menu
    </p>
  </div>
  <div class="body">
    <div class="links">
      {{#link-to 'index'}}
        <div class='link' {{action "naviToggle"}}>main</div>
      {{/link-to}}
      {{#link-to 'about' }}
        <div class='link' {{action "naviToggle"}}>about</div>
      {{/link-to}}
      {{#link-to 'contact'}}
        <div class='link' {{action "naviToggle"}}>contact</div>
      {{/link-to}}
    </div>
    {{outlet}}
  </div>
</div>
