<div class='jumbo'>
  <h1>Welcome to <span id='logo'>MyLift</span></h1>
  <h3>Fitness programming made easy.</h3>
  <p>
    <em id='mldescription'>At MyLift, we wanted to provide the simplest way to create custom fitness programs
    based on research-proven training methods -- so that's exactly what we did!</em>
  </p>
  <!-- <p>
    Share your workouts with your friends, or the rest of our MyLift Community!
  </p>  -->
  {{welcome-screen}}
</div>

<div class='jumbo programstart'>
  <h1>Fitness Goal</h1>
  {{#paper-select label="Select a Goal!" options=fitnessGoals selected=chosenFitnessGoal onChange=(action (mut chosenFitnessGoal)) as |fitness|}}
    {{#if fitness.goal}}
      {{fitness.goal}}
    {{/if}}
  {{/paper-select}}
</div>

{{#if chosenFitnessGoal.goal}}
<div class='jumbo muscleGroup'>
  <h1>Awesome!</h1>
  <h3>Let's get your {{chosenFitnessGoal.goal}} program started.</h3>
  <h4>Choose 2 or 3 muscle groups you'd like to focus on for today!</h4>
  <div class="layout-row layout-align-space-between" style="padding-top:5px;">
    {{#paper-select class="flex-30" label="Muscle Group 1" options=firstGroup selected=chosenMuscleGroup1 onChange=(action "changeGroups" "1") as |muscle|}}
      {{muscle.group}}
    {{/paper-select}}
    {{#paper-select class="flex-30" label="Muscle Group 2" options=secondGroup selected=chosenMuscleGroup2 onChange=(action "changeGroups" "2") as |muscle|}}
      {{muscle.group}}
    {{/paper-select}}
    {{#paper-select class="flex-30" label="Muscle Group 3" options=thirdGroup selected=chosenMuscleGroup3 onChange=(action "changeGroups" "3") as |muscle|}}
      {{muscle.group}}
    {{/paper-select}}
  </div>

</div>
{{/if}}

{{#if (gte chosenGroups.length 2)}}
<div class='jumbo exerciseChoice'>
  <h1>It worked!</h1>
</div>
{{/if}}
{{outlet}}
